main{
    
}

.galeria{
    border: 2px solid orangered;
    border-bottom: 10px solid orangered;
}

.divTituloGaleria{
    text-align: center;
    background-color: orangered;
    border-top: 5px solid orangered;
    border-bottom: 5px solid orangered;
}

.tituloGaleria{
    color: floralwhite;
    font-size: larger;
    font-style: italic;
}

.galeria_img01{
    width: 100%;
    margin-block-end: -4px
    
}

/*Produto do video inicial*/
.produtoInicial{
    padding-bottom: 15px;
    background-image: url(../img/backgrround-colors-in-cel.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
}

.figureprodutoInicial{
    text-align-last: center;
    margin-block-end: -35px;
}
.imgProdutoInicial{
    width: 100%;
}
.tituloProdutoInicial{
    font-size: 1.2em;
    text-align: center;
    color: white;
    border: 2px solid black;
    background-color: darkblue;
    margin-block-end: -4px;
    padding: 5px 0px 5px 0px
}

.divParagrafoSrd501{
    background-color: #1e0101;
    opacity: 80%;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    border-radius: 18px;
    margin-top: 10px;
}

.paragrafoSrd501{
    padding: 5px 40px;
    margin-block-start: 4px;
    margin-block-end: 15px;
    font-weight: 600;
    color: white;
    font-style: italic;
    font-family: serif;
}

.animated-div{
    text-align: end;
    margin-right: 5px;
}

/*BOTÃO WHATS APP ANTIGO*/
/* .areaBotao{
    margin-block-start: -20px;
    padding: 5px 0px 0px 135px;
    border-bottom: 5px solid black;
    position: absolute;
}

.botaoContato{
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    background-color: lightgreen;
    border-color: lightgreen;
    width: 223px;
    height: 50px;
    margin-top: -12px;
}


.imgWhatsApp{
    width: 56px;
    padding: 0px 3px 0px 0px;
    margin-inline-start: -8px;
}
.botaoContato p{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-size: 30px;
} */

.figureProduto01{
    text-align-last: center;
    margin-block-start: 25px;
    margin-block-end: -9px;
    background-color: white;
}
.imgProduto02{
    width: 100%;
}
.tituloProduto02{
    font-size: 1.2em;
    text-align: center;
    color: white;
    border: 2px solid black;
    background-color: darkblue;
    border-radius: 13px;
    margin-block-end: -4px;
}
.paragrafoProduto02{
    padding: 0px 35px;
    margin-block-start: 15px;
    margin-block-end: 15px;
    font-weight: 600;
    background-color: white;
    color: #1030e3;
}

/*BUSCADOR*/
.searchField{
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px 0 5px 0px;
    text-align: center;
    font-weight: 600;
    color: blue;
}

.botaoPesquisar{
    appearance: inherit;
    color: white;
    background-color: darkblue;
    border-color: white;
    font-style: italic;
    font-family: fantasy;
    padding: 5px 5px 5px 0px;
    border-radius: 10px;
}

.Buscador{
    margin-block-end: 0px;
    margin-block-start: 0px;
    text-align: center;
    background-color: cornflowerblue;
    padding: 5px 0 5px 0px;
}

/*CAMPO DE NADA ENCONTRADO*/
.secaoNadaEncontrado{
    margin-block-end: 20px;
    margin-block-start: -14px;
    text-align: center;
}
.msgNadaEncontrado{
    color: red;
}


/*CAMPO DE RESULTADOS DO BUSCADOR*/

.tagFigureSrd, .tagFigureflex{
    text-align-last: center;
    margin-block-start: 25px;
    margin-block-end: -9px;
    background-color: white;
}
.tagFigureSrd img, .imgflex{
    width: 230px;
}
.tituloSrd, .tituloflex{
    font-size: 1.2em;
    text-align: center;
    color: white;
    border: 2px solid black;
    background-color: darkblue;
    border-radius: 13px;
    margin-block-end: -4px;
}
.descricaoSrd, .descricaoFlex{
    padding: 0px 35px;
    margin-block-start: 15px;
    margin-block-end: 15px;
    font-weight: 600;
    background-color: white;
    color: #1030e3;
}