
/*Produto do video inicial*/
.produtoInicial{
    padding-top: 5px;
    background-image: url(../img/backgrround-colors-in-cel.jpg);
    background-repeat: no-repeat;
    background-size: 360px;
    padding-bottom: 10px;
}

.figureprodutoInicial{
    text-align-last: center;
    margin-block-start: -18px;
    margin-block-end: -35px;
}
.imgProdutoInicial{
    width: 230px;
}
.tituloProdutoInicial{
    font-size: 1.2em;
    text-align: center;
    color: white;
    border: 2px solid black;
    background-color: darkblue;
    margin-block-end: -4px;
    padding: 5px 0px 5px 0px
}

.divParagrafoSrd501{
    background-color: aliceblue;
    opacity: 80%;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
}

.paragrafoSrd501{
    padding: 5px 40px;
    margin-block-start: 4px;
    margin-block-end: 15px;
    font-weight: 600;
    color: black;
    font-style: italic;
    font-family: serif;
}


/*BOTÃO WHATS APP ANTIGO*/
/* .areaBotao{
    margin-block-start: -20px;
    padding: 5px 0px 0px 135px;
    border-bottom: 5px solid black;
    position: absolute;
}

.botaoContato{
    display: inline-flex;
    align-items: center;
    border-radius: 20px;
    background-color: lightgreen;
    border-color: lightgreen;
    width: 223px;
    height: 50px;
    margin-top: -12px;
}


.imgWhatsApp{
    width: 56px;
    padding: 0px 3px 0px 0px;
    margin-inline-start: -8px;
}
.botaoContato p{
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-size: 30px;
} */

.figureProduto01{
    text-align-last: center;
    margin-block-start: 25px;
    margin-block-end: -9px;
    background-color: white;
}
.imgProduto02{
    width: 230px;
}
.tituloProduto02{
    font-size: 1.2em;
    text-align: center;
    color: white;
    border: 2px solid black;
    background-color: darkblue;
    border-radius: 13px;
    margin-block-end: -4px;
}
.paragrafoProduto02{
    padding: 0px 35px;
    margin-block-start: 15px;
    margin-block-end: 15px;
    font-weight: 600;
    background-color: white;
    color: #1030e3;
}

/*BUSCADOR*/
.Buscador{
    margin-block-end: 18px;
    margin-block-start: 10px;
    text-align: center;
}
.campo__pesquisar{}
.botaoPesquisar{}


/*CAMPO DE NADA ENCONTRADO*/
.secaoNadaEncontrado{
    margin-block-end: 20px;
    margin-block-start: -14px;
    text-align: center;
}
.msgNadaEncontrado{
    color: red;
}


/*CAMPO DE RESULTADOS DO BUSCADOR*/
.divResultados{}


.tagFigureSrd, .tagFigureflex{
    text-align-last: center;
    margin-block-start: 25px;
    margin-block-end: -9px;
    background-color: white;
}
.tagFigureSrd img, .imgflex{
    width: 230px;
}
.tituloSrd, .tituloflex{
    font-size: 1.2em;
    text-align: center;
    color: white;
    border: 2px solid black;
    background-color: darkblue;
    border-radius: 13px;
    margin-block-end: -4px;
}
.descricaoSrd, .descricaoFlex{
    padding: 0px 35px;
    margin-block-start: 15px;
    margin-block-end: 15px;
    font-weight: 600;
    background-color: white;
    color: #1030e3;
}